@page
@model EditModel
@{
    Layout = "_Render";
}

@section tabs{
<li class="nav-item active">
    <a class="nav-link active" id="html-tab" data-bs-toggle="tab" href="#html" role="tab">html</a>
</li>
}

@section panes{
<div class="tab-pane fade show active full-code" id="html">
    <textarea asp-for="Input!.Html" class="CodeMirror"></textarea>
</div>
}