@page
@model CreateModel
@{
    Layout = "_Modal";
    ViewBag.Title = "添加节点";
}

<form method="post">
    <input type="hidden" asp-for="Input.PageId" />
    <div class="mb-3">
        <label class="form-label">唯一名称(<small class="text-secondary">不能修改，使用英文</small>)</label>
        <input asp-for="Input.Name" class="form-control text-lowercase" />
        <span asp-validation-for="Input.Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">显示名称</label>
        <input asp-for="Input.DisplayName" class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label">类型</label>
        <gt:section-dropdownlist asp-for="Input.SectionType"></gt:section-dropdownlist>
    </div>
</form>