main > .container-fluid {
  padding: 0;
}

.docs-wrapper {
  display: flex;
}

.docs-sidebar {
  flex: 0 0 320px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.docs-sidebar .docs-search {
  position: relative;
  padding: 1rem 15px;
  margin-right: calc(var(--bs-gutter-x) * -0.5);
  margin-left: calc(var(--bs-gutter-x) * -0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
}
.docs-sidebar .docs-search > .input-group-prepend {
  flex: 1 1 auto;
}
.docs-sidebar .docs-search > .navbar-toggler {
  padding: 0;
  margin: 0;
  margin-left: 0.5rem;
}
.docs-sidebar .docs-search > .navbar-toggler:focus, .docs-sidebar .docs-search > .navbar-toggler:active {
  box-shadow: none;
}

.docs-menu > .navbar-nav {
  margin: 1rem;
}
.docs-menu > .navbar-nav a {
  padding: 0.25rem 1.5rem;
  color: rgba(0, 0, 0, 0.65);
}
.docs-menu > .navbar-nav a i {
  display: none;
}
.docs-menu > .navbar-nav a:hover, .docs-menu > .navbar-nav a:focus, .docs-menu > .navbar-nav a:active {
  color: rgba(0, 0, 0, 0.85);
}
.docs-menu > .navbar-nav a.active {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.85);
}
.docs-menu > .navbar-nav > .nav-group > a {
  font-weight: 700;
}
.docs-menu > .navbar-nav .menu-1 a {
  padding: 0.25rem 1.5rem 0.25rem;
  font-size: 90%;
}
.docs-menu > .navbar-nav .menu-1 .nav-group > a, .docs-menu > .navbar-nav .menu-1 .menu-2 a {
  margin-left: 1rem;
}
.docs-menu > .navbar-nav .menu-1 .menu-2 .nav-group > a, .docs-menu > .navbar-nav .menu-1 .menu-3 a {
  margin-left: 2rem;
}
.docs-menu > .navbar-nav .menu-1 .menu-3 .nav-group > a, .docs-menu > .navbar-nav .menu-1 .menu-4 a {
  margin-left: 3rem;
}
.docs-menu > .navbar-nav .menu-1 .menu-4 .nav-group > a, .docs-menu > .navbar-nav .menu-1 .menu-5 a {
  margin-left: 4rem;
}
.docs-menu > .navbar-nav .dropdown-indicator:after {
  transform: translateY(-50%) rotate(-40deg);
  right: auto;
  left: 5px;
}
.docs-menu > .navbar-nav .dropdown-indicator[aria-expanded=true]:after {
  transform: translateY(-50%) rotate(45deg);
}

.docs-menu.searching .nav-group > a {
  pointer-events: none;
  cursor: pointer;
}
.docs-menu.searching .collapse {
  display: block !important;
}
.docs-menu.searching .dropdown-indicator:after {
  transform: translateY(-50%) rotate(45deg) !important;
}

.docs-content {
  flex: 1 1 auto;
  padding: 1rem 1rem 0 1rem;
  padding-right: 300px;
}

.docs-toc {
  position: fixed;
  right: 0;
  width: 300px;
  padding: 1rem;
}
.docs-toc a {
  color: rgba(0, 0, 0, 0.65);
}
.docs-toc a:hover, .docs-toc a:focus, .docs-toc a:active, .docs-toc a.active {
  color: rgba(0, 0, 0, 0.85);
}
.docs-toc a.active {
  font-weight: 600;
}
.docs-toc .toc-h2 {
  padding-left: 0.5rem;
}
.docs-toc .toc-h3 {
  padding-left: 1rem;
}
.docs-toc .toc-h4 {
  padding-left: 1.5rem;
}
.docs-toc .toc-h5 {
  padding-left: 2rem;
}
.docs-toc .toc-h6 {
  padding-left: 2.5rem;
}

@media (max-width: 1199.98px) {
  .docs-content {
    padding-right: 1rem;
  }

  .docs-toc {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .docs-wrapper {
    flex-direction: column;
  }
  .docs-wrapper .docs-sidebar {
    flex: 0 0 auto;
    border-right: none;
  }
  .docs-wrapper .docs-toc {
    display: none;
  }
}
@media (min-width: 768px) {
  .docs-wrapper .docs-sidebar .docs-search > .navbar-toggler {
    display: none;
  }
  .docs-wrapper .docs-sidebar .docs-menu {
    display: block;
  }
}
