.input-group-preppend,
.input-group-append {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.input-group-preppend a:first-child,
.input-group-preppend button:first-child,
.input-group-preppend label:first-child,
.input-group-preppend img:first-child,
.input-group-append a:last-child,
.input-group-append button:last-child,
.input-group-append label:last-child,
.input-group-append img:last-child {
    color: #6c757d;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    border-radius: 0.15rem;
}

.input-group-preppend a:first-child,
.input-group-preppend button:first-child,
.input-group-preppend label:first-child,
.input-group-preppend img:first-child {
    left: 0;
    right: auto;
}

.input-group-preppend .form-control {
    padding-left: 2.35rem;
}

.input-group-append .form-control {
    padding-right: 2.35rem;
}

.input-group-preppend img:first-child,
.input-group-append img:last-child {
    padding: 0;
    top: 2px;
    cursor: pointer;
}

.input-group-preppend img:first-child {
    left: 2px;
}

.input-group-append img:last-child {
    right: 2px;
}
