// scrollbar
%scrollbar {
    overflow: hidden;

    &::-webkit-scrollbar {
        height: 10px;
        width: 10px;
    }

    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-thumb:hover {
        border-radius: 10px;
        border: solid 2px transparent;
        background-clip: content-box;
        background-color: rgba(200, 200, 200, 0.25);
    }

    &:hover {
        overflow: scroll;
        overflow: overlay;
    }
}
