@page
@model EditModel
@{
    ViewBag.Title = "分类";
    Layout = "_Modal";
}

<form method="post">
    <input type="hidden" asp-for="Input.Id" />
    <div class="form-group">
        <label>名称（使用英文）</label>
        <input pattern="[a-zA-Z\-]+" class="form-control" asp-for="Input.Name" />
        <span class="text-danger" asp-validation-for="Input.Name"></span>
    </div>
    <div class="form-group">
        <label>显示名称</label>
        <input class="form-control" asp-for="Input.DisplayName" />
        <span class="text-danger" asp-validation-for="Input.DisplayName"></span>
    </div>
    <div class="form-group">
        <label>备注</label>
        <textarea class="form-control" asp-for="Input.Description"></textarea>
    </div>
</form>