@page
@model MenusModel
@{
    ViewBag.Title = "菜单列表";
    ViewBag.Current = "pages.menus";
}

<div class="card data-list">
    <div class="card-header toolbar">
        <gt:action-group>
            <gt:action typeof="Add" asp-page="./EditMenu" asp-route-cid="@Model.CategoryId"></gt:action>
            <gt:action typeof="Delete" confirm="你确定要删除所选择的菜单实例吗？" asp-page-handler="Delete"></gt:action>
        </gt:action-group>
    </div>

    <div class="card-body">
        <table class="table data-container">
            <thead>
                <tr>
                    <th class="checkbox"><gt:checkall></gt:checkall></th>
                    <th>标题</th>
                    <th>链接地址</th>
                    <th>打开方式</th>
                    <th class="action">操作</th>
                </tr>
            </thead>
            <tbody .warning-text="还没有添加任何菜单！">
            </tbody>
        </table>
    </div>
</div>

@section scripts{
<script type="text/javascript">
    var target = ['默认', '新窗口', '父级窗口', '顶级窗口'];
    $(function() {
        var html = [];
        (function render(items, index) {
            items.forEach(function(item, i) {
                html.push(`<tr class="data-item"><td class="checkbox"><input class="form-check-input menu-${index}" type="checkbox" value="${item.id}"/></td><td>${item.displayName || ''}</td><td>${item.linkUrl||''}</td><td>${item.target === 4
                    ? item.frame : target[item.target]}</td><td><div class="dropdown"><a aria-expanded="true" class="dropdown-toggle action-dropdown show" data-bs-toggle="dropdown" href="#"><span class="bi-three-dots"></span></a><div class="dropdown-menu dropdown-menu-end"><a title="编辑" class="dropdown-item" _click="modal" href="./editmenu?id=${item.id}"><i class="bi-pencil"></i> 编辑</a> `);
                if (i !== 0)
                    html.push(
                        `<a class="dropdown-item" title="上移" _click="ajax" href="?id=${item.id
                        }&handler=MoveUp"><i class="bi-arrow-up"></i> 上移</a> `);
                if (i < items.length-1)
                    html.push(
                        `<a class="dropdown-item" title="下移" _click="ajax" href="?id=${item.id
                        }&handler=MoveDown"><i class="bi-arrow-down"></i> 下移</a>`);
                html.push('<hr class="dropdown-divider"/>');
                html.push(`<a class="dropdown-item" _confirm="你确定要删除“${item.name}”吗？" title="删除" _click="ajax" href="?handler=Delete&id=${item.id}"><i class="bi-trash"></i> 删除</a>`);
                html.push('</div></div></td></tr>');
                if (item.children.length > 0)
                    render(item.children, index + 1);
            });
        })(@Html.Raw(Model.Items.ToJsonString()), 0);
        $('.data-container>tbody').html(html.join(''));
        onrender('.main-body');
    });
</script>
}