@page
@model EditModel
@{
    ViewBag.Title = "编辑项目";
    Layout = "_Modal";
    ViewBag.ClassName = "modal-lg";
}

<form method="post" class="tab-content">
    <input type="hidden" asp-for="Input!.Id" />
    <input type="hidden" asp-for="Input!.SectionId" />
    <div class="mb-3">
        <gt:checkbox asp-for="Input!.Disabled"> 禁用</gt:checkbox>
    </div>
    <div class="mb-3">
        <label class="form-label">背景图片</label>
        <div class="input-group-append">
            <input placeholder="图片地址" asp-for="Input!.ImageUrl" class="form-control uploaded" />
            <a _click="upload" asp-page-handler="Upload" asp-route-sid="@Model.Input.SectionId"><i class="bi-upload"></i></a>
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label">背景颜色</label>
        <gt:color asp-for="Input!.BgColor" placeholder="背景颜色"></gt:color>
    </div>
    <div>
        <ul class="nav nav-tabs border-bottom" role="tablist">
            <li class="nav-item active">
                <a class="nav-link active" id="basic-tab" data-bs-toggle="tab" href="#basic" role="tab">基础</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="html-tab" data-bs-toggle="tab" href="#html" role="tab">代码</a>
            </li>
            <li class="nav-muted"><small>* 基础配置和代码只能使用一个，并且代码优先于基础配置</small></li>
        </ul>
        <div class="tab-content p-1">
            <div class="tab-pane fade show active" id="basic">
                <div class="mb-3">
                    <label class="form-label">标题</label>
                    <input asp-for="Input!.Title" class="form-control" />
                </div>
                <div class="mb-3">
                    <label class="form-label">备注</label>
                    <textarea asp-for="Input!.Description" class="form-control" rows="5"></textarea>
                </div>
            </div>
            <div class="tab-pane fade full-code CodeMirror-border-bottom" id="html">
                <textarea asp-for="Input!.HTML" class="CodeMirror" _mode="htmlmixed" _height="300"></textarea>
            </div>
        </div>
    </div>
</form>