@page
@model EditModel
@{
    ViewBag.Title = "编辑项目";
    Layout = "_Modal";
    ViewBag.ClassName = "modal-lg";
}

<form method="post" class="tab-content">
    <input type="hidden" asp-for="Input.Id" />
    <input type="hidden" asp-for="Input.SectionId" />
    <ul class="nav nav-tabs border-bottom" style="margin-top: -15px;" role="tablist">
        <li class="nav-item active">
            <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab">基础</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#options" role="tab">配置</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#code" role="tab">代码</a>
        </li>
    </ul>
    <div class="tab-content pt-3">
        <div class="tab-pane fade show active" id="home">
            <div class="mb-3">
                <gt:checkbox asp-for="Input.Disabled"> 禁用</gt:checkbox>
            </div>
            <div class="mb-3">
                <label class="form-label">背景</label>
                <div class="input-group">
                    <input onchange="$(this).parents('.mb-3').find('img').attr('src', this.value);" placeholder="图片地址" asp-for="Input.ImageUrl" class="form-control" />
                    <input type="color" placeholder="背景颜色" asp-for="Input.BgColor" class="form-control" />
                </div>
                <img class="mt-2 w-100" src="@Model.Input.ImageUrl" />
            </div>
        </div>
        <div class="tab-pane fade" id="options">
            <div class="mb-3">
                <label class="form-label">标题</label>
                <input asp-for="Input.Title" class="form-control" />
            </div>
            <div class="mb-3">
                <label class="form-label">备注</label>
                <textarea asp-for="Input.Description" class="form-control" rows="5"></textarea>
            </div>
        </div>
        <div class="tab-pane fade" id="code">
            <div class="mb-3">
                <textarea asp-for="Input.HTML" class="CodeMirror" _mode="htmlmixed" rows="12"></textarea>
            </div>
        </div>
    </div>
</form>