@{
    Layout = "_Layout";
    ViewData["SiteName"] = SiteSettings.SiteName;
}

@inject SiteSettings SiteSettings

<div class="docs-wrapper">
    <div class="docs-sidebar">
        <div class="docs-search">
            <div class="input-group-prepend">
                <label class="bi-funnel"></label>
                <input oninput="searchDocs(this);" type="text" class="form-control" placeholder="请输入你要搜索的标题内容..." />
            </div>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target=".docs-menu">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" role="img" focusable="false"><title>Menu</title><path stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"></path></svg>
            </button>
        </div>
        <div class="docs-menu collapse">
            @await RenderSectionAsync("toc")
        </div>
    </div>
    <article class="docs-content" data-bs-target=".docs-toc" data-offset="0">
        @RenderBody()
    </article>
    <div class="docs-toc">
    </div>
</div>

@section scripts{
<script src="~/js/docs.min.js" .dev-src="~/js/docs.js"></script>
    @await RenderSectionAsync("scripts", required: false)
}

@section header{
<link rel="stylesheet" href="~/css/docs.css" />
<link rel="stylesheet" href="~/css/backend.css" />
    @await RenderSectionAsync("header", required: false)
    }
