<!DOCTYPE html>
<html lang="en">
<head>
    <gt:header title="@ViewData["Title"] - @ViewData["SiteName"]" import="Bootstrap">
        <link rel="stylesheet" href="~/GS.styles.css" asp-append-version="true" />
        @await RenderSectionAsync("header", required: false)
    </gt:header>
</head>
<body>
    @RenderBody()
</body>
</html>