@{
    Layout = "_Global";
    ViewData["SiteName"] = SiteSettings.SiteName;
}
@inject SiteSettings SiteSettings
@inject GS.Extensions.Security.User CurrentUser

<div class="wrapper">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-page="/Index">GS</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/docs">Docs</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="pb-3">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </main>

    <footer class="border-top footer text-muted">
        <div class="container-fluid">
            &copy; 2021 - GS - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>
</div>
<gt:footer antiforgery="true" status="false">
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("scripts", required: false)
</gt:footer>

@section header{
    <link rel="stylesheet" href="~/css/site.css" />
	@await RenderSectionAsync("header", required: false)
}