@page
@model Gentings.Projects.Areas.Projects.Pages.IndexModel
@{
    ViewData["Title"] = "项目管理";
    ViewBag.Current = "proj";
}


<div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
    <div class="mr-3 icon-48">项</div>
    <div class="lh-100">
        <h6 class="mb-0 text-white lh-100">@ViewData["Title"]</h6>
        <small>欢迎使用“云顶创联”API项目管理，将有助于前后端分离以及Gentings项目相关操作，可以根据项目需要进行开发</small>
    </div>
</div>
