@page
@model PasswordModel
@{
    ViewData["Title"] = "修改密码";
    ViewBag.Current = "users";
}

<div class="card">
    <div class="card-body">
        <form method="post">
            <div class="form-group mb-4">
                <label class="mb-2">账户名称 (<a href="#" onclick="$('#Input_UserName').removeAttr('readonly');return false;" class="text-danger">修改</a>)</label>
                <input type="text" class="form-control" asp-for="Input.UserName" readonly="readonly" />
                <span class="text-danger" asp-validation-for="Input.UserName"></span>
            </div>
            <div class="form-group mb-4">
                <label class="mb-2">原始密码</label>
                <input type="password" class="form-control" asp-for="Input.SrcPassword" />
                <span class="text-danger" asp-validation-for="Input.SrcPassword"></span>
            </div>
            <div class="form-group mb-4">
                <label class="mb-2">新密码</label>
                <input type="password" class="form-control" asp-for="Input.Password" />
                <span class="text-danger" asp-validation-for="Input.Password"></span>
            </div>
            <div class="form-group mb-4">
                <label class="mb-2">确认密码</label>
                <input type="password" class="form-control" asp-for="Input.ConfirmPassword" />
                <span class="text-danger" asp-validation-for="Input.ConfirmPassword"></span>
            </div>
            <div class="form-group mb-4">
                <button type="submit" class="btn btn-primary"> 修改 </button>
            </div>
        </form>
    </div>
</div>