@import "../../../Gentings.AspNetCore/wwwroot/lib/bootstrap/scss/functions";
@import "../../../Gentings.AspNetCore/wwwroot/src/scss/variables";
@import "../../../Gentings.AspNetCore/wwwroot/lib/bootstrap/scss/mixins";
@import "../../../Gentings.AspNetCore/wwwroot/lib/bootstrap/scss/utilities";
@import "../../../Gentings.AspNetCore/wwwroot/src/scss/utilities";

.txt {
    blockquote {
        padding: 10px 15px 1px 15px;
        border-left: 3px solid #ccc;
    }

    img {
        display: block;
        margin: 0 auto;
    }

    pre {
        padding: 10px 20px;
        border: 1px solid #efeeee;
        border-radius: 4px;
    }
}


