@import "../../../Gentings.AspNetCore/wwwroot/lib/bootstrap/scss/functions";
@import "../../../Gentings.AspNetCore/wwwroot/src/scss/variables";
@import "../../../Gentings.AspNetCore/wwwroot/lib/bootstrap/scss/mixins";
@import "../../../Gentings.AspNetCore/wwwroot/lib/bootstrap/scss/utilities";
@import "../../../Gentings.AspNetCore/wwwroot/src/scss/utilities";

.txt {
    blockquote {
        padding: 10px 15px 1px 15px;
        border-left: 3px solid #ccc;
    }

    img {
        display: block;
        margin: 0 auto;
    }

    pre {
        padding: 10px 20px;
        border: 1px solid #efeeee;
        border-radius: 4px;
    }
}

.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-bottom: 0.5rem;

    > form {
        display: flex;
        flex: 1 1 auto;
        flex-wrap: wrap;
        flex-direction: row;

        > div {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            margin-right: 0.5rem;

            > label {
                display: flex;
                flex-wrap: nowrap;
                align-items: center;
                flex: 0 0 auto;
            }
        }
    }

    > div, > .actions {
        flex: 0 1 auto;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        flex-wrap: wrap;

        > .btn-group {
            margin-bottom: 0.5rem;

            .btn:focus, .btn:hover {
                box-shadow: none;
            }

            + .btn-group {
                margin-left: 0.5rem;
            }
        }
    }

    .checked-visible {
    }
}

.btn-group > .btn:not(:first-child) {
    border-left: 0;
}

a.action-only > i {
    margin-right: 0.25rem;
}

a.action-only + a.action-only {
    margin-left: 0.5rem;
}

.card {
    box-shadow: $card-box-shadow;

    .card-header {
        display: flex;
        align-items: center;
        padding: 1rem 1rem;
        background-color: transparent;
        justify-content: space-between;

        h2, h3, h4, h5 {
            margin-bottom: 0;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: .02em;
            font-size: .9rem;
        }

        .nav-tabs > .nav-item {
            margin-left: 0.5rem;
            margin-right: 0;

            > .nav-link {
                padding-left: 0;
                padding-right: 0;
                padding-top: 0;
                padding-bottom: 0.6rem;
                margin-bottom: -1rem;
                border-bottom-width: 1px;
            }
        }

        &.toolbar {
            @extend .toolbar;
            border-bottom-color: transparent;

            ~ .card-body {
                padding-top: 0;
            }
        }
    }

    .card-body {
        table {
            th {
                background-color: $gray-200;
                padding: 0.95rem 0.95rem;
            }

            td {
                padding: 0.95rem 0.95rem;
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .toolbar {
        flex-direction: column !important;
        align-items: flex-start !important;
    }
}
